# This is a minimal example config
# See /usr/share/doc/lighttpd
# and http://redmine.lighttpd.net/projects/lighttpd/wiki/Docs:ConfigurationOptions

server.port             = 80
server.username         = "www-data"
server.groupname        = "www-data"
server.document-root    = "/home/www-data/www.os2.unc/"
server.upload-dirs      = ("/home/www-data/www.os2.unc/data/")
server.errorlog         = "/var/log/lighttpd/error.log"
dir-listing.activate    = "enable"
index-file.names        = ( "index.html" )
mimetype.assign         = (
                                ".html" => "text/html",
                                ".txt" => "text/plain",
                                ".css" => "text/css",
                                ".js" => "application/x-javascript",
                                ".jpg" => "image/jpeg",
                                ".jpeg" => "image/jpeg",
                                ".gif" => "image/gif",
                                ".png" => "image/png",
                                ".svg" => "image/svg+xml",
                                "" => "application/octet-stream"
                        )
server.modules += ("mod_cgi","mod_accesslog","mod_alias")
cgi.assign = ( ".pl" => "/usr/bin/perl" )